*{
    margin: 0;
    padding: 0;
}

/*Loader*/
.contenedor_loader {
    background-color: #f3f3f3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.loader, .loader::before, .loader::after {
    border-radius: 30%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.7s infinite ease-in-out;
}  
.loader {
    color: #ffe601;
    font-size: 13px;
    position: relative;
    animation-delay: -0.16s;
}  
.loader::before, .loader::after {
    content: "";
    position: absolute;
    top: 0;
}  
.loader::before {
    left: -3.5em;
    animation-delay: -0.32s;
}  
.loader::after {
    left: 3.5em;
}  
@keyframes loader {
    0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
    box-shadow: 0 2.5em 0 0;
    }
}

/*Empiza el contenido*/
.contenedor-Inicio{
    position: fixed;
    width: 50vw;
    height: 73vh;
    z-index: 9999;
    transition: all 1.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-preinfo{
    width: 500px;
    height: 67px;
    position: absolute;
    top: 45%;
    left: 30%;
    background-color: transparent;
}
.contenedor-preinfo p{
    font-size: 28px;
    color: black;
    font-family: 'Alkalami', serif;
}
.contenedor-preinfo span{
    font-size: 20px;
    color: rgb(82, 82, 82);
}
/*Lista*/
.lista-info{
    width: 300px;
    height: 70px;
    position: absolute;
    top: 60%;
    left: 30%;
}
.lista-info ul li{
    width: 150px;
    height: 30px;
    text-align: center;
    list-style: none;
    margin-top: 8px;
    border: 2px solid rgb(255, 187, 0);
    border-radius: 30px;
}
.lista-info ul li:hover{
    background-color: rgb(255, 187, 0);
    transition: all 1.3s;
}
.lista-info ul li a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}


/*imagen hero*/
.imagen-hero{
    width: 1000px;
    height: 300px;
    position: absolute;
    top: -4%;
    left: 90%;
}
.imagen-hero img{
    border-radius: 50%;
    width: 100%;
}
